article div {
    border: 1px solid gray;
    padding: 3px;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    border-radius: 10px;
    margin: 2px;
    cursor: pointer;
   
}
article div:hover{
    background-color: #808080b8;
}
article{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 50%;
    
}
body{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
  